body,
html {
    margin: 0;
    padding: 0;
    font-family: "Arial, sans-serif";
}

#chatbot-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 485px;
}

#chatbot-icon {
    background-color: #000000;
    color: #fff;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
}

#chatbot-icon.rectangular-icon {
    width: auto;
    height: auto;
    border-radius: 10px;
}

#chatbot-popup {
    display: none;
    padding: 10px;
}

.chat-box {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.input-and-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-input {
    max-width: 400px;
    min-width: 200px;
    max-height: 150px;
    min-height: 50px;
    width: 100%;
    margin: 5px;
    margin-bottom: 10px;
    resize: both;
    overflow: auto;
    border-radius: 5px;
}

#send-button {
    background-color: #0a0a0e;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    max-width: 50px;
    max-height: 30px;
    border-radius: 5px;
}

.message-separator {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}